<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="icomoon/font.css">
	<title>La Iberica</title>
	<link rel="stylesheet" href="css/estilos.css">
	<script src="js/javascript.js"></script>
		<script src="js/main.js"></script>
</head>
<body>
	<input type="checkbox" id="cerrar">
	<label for="cerrar" id="btn-cerrar"><img src="img/aspa.png" width="50px" height="50px" alt=""></label>
	<div class="modal">
		<div class="contenido">
			<div class="sesion">
			<div class="wrap" id="wrap2">
					<div>
						<h1>Empresa</h1><hr/><br/>
						<form action="BuscadorProducto" method="post">
						<label id="buscar">Ingrese Código</label><input type="text" name="buscador" maxlength="5" size="10" placeholder="10010" />
						<input type="submit" value="buscar">
						</form>
						<div>Productos : </div>
						<label color="red">producto no encontrado</label>
						<% for(int i = 0; i < a.getBurro().size() ; i++){
							out.println("Producto "+ i+ " " + a.leerProducto(a, i) );
						}
							%>
						
					</div>
			</div>
		</div>
		</div>
	</div>
	<div class="social">
		<ul>
			<li><a href="https://www.facebook.com/LaIbericaPeru/?fref=ts" target="_blank" class="icon-facebook"></a></li>
			<li><a href="https://twitter.com/?lang=es" target="_blank" class="icon-twitter"></a></li>
			<li><a href="https://mail.google.com/mail/" target="_blank" class="icon-google-plus"></a></li>
			<li><a href="https://www.youtube.com/watch?v=TzwJI0WYLVk" target="_blank" class="icon-youtube"></a></li>
			<li><a href="https://accounts.google.com/ServiceLogin?service=blogger&hl=es&passive=1209600&continue=https://www.blogger.com/home" target="_blank" class="icon-blogger"></a></li>
		</ul>
	</div>
	<div class="logo">
		<h1>LA IBERICA</h1>
	</div>
	<div class="menu">
		<ul>
			<li><a class="letra"  href="empresa.html">Empresa</a></li>
			<li><a class="letra" href="registro.jsp">Registro</a></li>
			<li><a class="letra"  href="productos.jsp">Productos</a></li>
		</ul>
	</div>
	<div class="articulos">
					<div class="imagen-zoom">
						<img id="zoom" src="img/choco2.jpg" alt="">
					</div>
					<div class="imagen-zoom">
						<img id="zoom" src="img/chocolate.jpg" alt="">
					</div>
					<div class="imagen-zoom-2">
						<img id="zoom" src="img/colo1.jpeg" alt="">
					</div>
					<div class="imagen-zoom-2">
						<img id="zoom" src="img/choco3.jpg" alt="">
					</div>
					<div class="imagen-zoom-2">
						<img id="zoom" src="img/images.jpg" alt="">
					</div>
	</div>
	<div class="informacion">
		<div class="circulos"><a href="deliveri.jsp"> <img src="img/home.png" width="80px" height="80px" alt=""></a><h3>DELIVERI</h3></div>
		<div class="circulos"><a href="ingresar.html" ><img src="img/home.png" width="80px" height="80px" alt=""></a><h3>COMPRAR</h3></div>
		<div class="circulos"><a href="pedidos.jsp" ><img src="img/home.png" width="80px" height="80px" alt=""></a><h3>PEDIDOS</h3></div>
	</div>
	<div class="footer">
		<div class="pie-de-pagina">
				<p>Copyright © 2016 Sistemas</p>
				<div class="prf">
					<a href=""><p>¿Quienes somos?</p></a>
					<a href=""><p>Política De Privacidad</p></a>
					<a href=""><p>Términos de Servicio</p></a>
				</div>
				<div class="img">
					<a href="https://www.facebook.com/LaIbericaPeru/?fref=ts"><img id="img111" src="img/facebook-png.png" width="32px" alt=""></a>
					<a href="https://mail.google.com/mail/"><img id="img112" src="img/google+-png.png" width="22px" alt=""></a>
					<a href="https://mail.google.com/mail/"><img id="img113" src="img/google+-png.png" width="20px" height="20px" alt=""></a>
				</div>
			</div>
	</div>
</body>
</html>